<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NGL</title>
    <meta
      name="description"
      content="Send anonymous messages with Ngl - Clone, a secure and confidential messaging web app. ask anything without revealing your identity."
    />

    <!-- Other SEO meta tags -->
    <meta
      name="keywords"
      content="anonymous messaging, secure messages, confidential communication, private chat"
    />
    <meta name="author" content="babyo7_" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph Meta Tags for social media sharing -->
    <meta property="og:title" content="Ngl - Clone" />
    <meta
      property="og:description"
      content="Send anonymous messages with Ngl - Clone, a secure and confidential messaging web app. Express yourself without revealing your identity."
    />
    <meta
      property="og:image"
      content="https://ngl-clone.onrender.com/dp/me.gif"
    />
    <meta property="og:url" content="https://ngl-clone.onrender.com/" />

    <!-- Twitter Card Meta Tags for Twitter sharing -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Ngl - Clone" />
    <meta
      name="twitter:description"
      content="Send anonymous messages with Ngl - Clone, a secure and confidential messaging web app. Express yourself without revealing your identity."
    />
    <meta
      name="twitter:image"
      content="https://ngl-clone.onrender.com/dp/me.gif"
    />

    <link rel="stylesheet" href="/style/minify-style.css" />
    <link rel="shortcut icon" href="/public/dp/me.gif" type="image/x-icon" />
  </head>
  <body class="font-sans">
    <main class="justify-center h-screen flex items-center">
      <form id="form" class="relative grid gap-3 justify-center items-center">
        <div
          class="rounded-3xl flex justify-start px-7 gap-3 items-center bg-white/90 -mb-3 py-3.5 rounded-br-none rounded-bl-none"
        >
          <a
            class="flex justify-center items-center gap-2"
            href="<%= socialLink ? socialLink : 'https://www.instagram.com/babyo7_/' %>"
          >
            <div
              class="bg-black h-14 w-14 -ml-2 rounded-full overflow-hidden border-none shadow-sm"
            >
              <img
                class="border-none shadow-lg object-cover object-center"
                src="<%= dp ? dp : '/dp/me.gif' %>"
                alt="<%=username %>"
              />
            </div>
            <div>
              <div class="grid justify-center items-center ">

                <h1
                class="max-md:font-extrabold font-bold max-md:text-xl text-2xl text-black"
                >
              <%= name ? name : 'Tanmay Singh' %>
              </h1>
              <p
              class="max-md:font-bold max-md:text-xs text-xs font-bold pl-1 text-black  mb-0.5"
              >
              @<%= username ? username : 'babyo7_' %>
            </p>
          </div>
            </div>
          </a>
        </div>
        <div
          class="dice z-10 absolute bottom-[31%] right-[0%] cursor-pointer text-white px-4 py-2 rounded"
        >
          <img class="h-8 w-8" src="/assets/role-playing.png" alt="" />
        </div>
        <textarea
          name="message"
          class="message rounded-tr-none rounded-tl-none resize-none relative w-[70vh] h-[23vh] max-md:w-[87vw] max-md:h-[40vw] max-md:placeholder:text-lg shadow-lg max-w-xl bg-white/40 placeholder:text-white/50 py-5 px-4 font-bold placeholder:font-semibold outline-none rounded-3xl placeholder:text-xl text-xl"
          required
          placeholder="Send me anonymous messages..."
        ></textarea>

        <div class="flex justify-center items-center">
          <button
            type="submit"
            id="send"
            class="flex justify-center items-center max-md:w-[86vw] w-[70vh] border-black border py-2.5 shadow-lg bg-black text-white font-bold text-lg rounded-full"
          >
            <img
              src="/assets/loading.svg"
              id="loader"
              class="hidden animate-spin cursor-pointer"
              height="27.5"
              width="27.5"
            />
            <label for="send" id="senLabel" class="cursor-pointer">Send!</label>
          </button>
        </div>
        <p
          class="text-center text-white cursor-pointer"
          onclick="window.open('https://t.me/NGLCreateAccountbot')"
        >
          🔒 create anonymous q&a
        </p>
      </form>
    </main>
    <p class="hidden" id="id"><%= id ? id : '5356614395' %></p>
    <script src="/script/script.js"></script>
  </body>
</html>
